body{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

#coco {
	max-width: 1600px;
	margin: 0;
	background-color: #fff;
	padding: 12px;
}
#coco img{
	position: absolute;
}

header {
	background-color: #4B0082;
	height: 70px;
	padding: 2px;
}

header h1 {
	font-style: italic;
	text-align: center;
	color: #fff;
	line-height: 38px;
}

.nav{
	width: 100%;
	background-color: rgba(255,0,60,0.8);
	color: #fff;
}

.menu{
	line-height: 45px;
	font-weight: 500;
	text-transform: uppercase;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav .menu .menu_item{
	display: inline-block;
	position: relative;
}

.menu_item:hover {
	background-color: #2c3e50;
}

.nav .menu .menu_item a{
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	display: block;
}

.submenu {
	text-decoration: none;
	display: none;
	position: absolute;
	width: 270px;
	background-color: rgba(0,0,0,0.8);
}

.menu_item:hover .submenu{
	display: block;
}

.submenu_item{
	border-left: 4px solid transparent;
}

.submenu_item:hover {
	background-color: rgba(0,0,0,0.6);
	border-left: 4px solid rgba(255,0,60,0.8);
}
#container{
	width: 1500px;
	overflow: hidden;
	height: 800px;
	margin-top: 100px;
}

#sliderbox{
	position: relative;
	width: 3200px;
	animation-name: slideranimation;
	animation-duration: 20s;
	margin-top: 100px;
}

#sliderbox img{
	float: left;
}

@keyframes slideranimation{
	0%{
		left: 0px;
	}
	20%{
		left: 0px;
	}
	25%{
		left: -800px;
	}
	45%{
		left: -800px;
	}
	50%{
		left: -1600px;
	}
	70%{
		left: -1600px;
	}
	75%{
		left: -800px;
	}
	85%{
		left: -800px;
	}
	90%{
		left: 0px;
	}
	100%{
		left: 0px;
	}
}
.khag{
	color: #000000;
}
.khag h2{
	text-align: center;
	font-size: 40px;
	color: #000000;
}
p{
	font-size: 25px;
	font-style: italic;
	margin-left: 20px;
	margin-right: 20px;
}
.history{
	color: #000000;
}
.history h3{
	text-align: center;
	font-size: 40px;
	color: #DC143C;
}
.how{
	color: #000000;
}
.how h4{
	text-align: center;
	font-size: 40px;
	color: #DC143C;	
}
.hoo{
	color: #000000;
}
.hoo h5{
	text-align: center;
	font-size: 40px;
	color: #DC143C;	
}
.hjj{
	color: #000000;
}
.hjj h6{
	text-align: center;
	font-size: 40px;
	color: #DC143C;	
}





